.container{
    margin-top:50px;
}
.card{
    padding: 15px;
    margin: 10px;
    height: 520px;
    border-radius:10px;
    box-shadow: 4px 2px 20px rgb(221, 221, 221);
    background: #fdfcf3;
}
.small-card{
    border: 2px solid rgb(184, 0, 0);
    box-shadow: 3px 3px 5px lightgray;
    text-align: center;
    height:30px;
    padding-top:2px;
    margin: 5px;
}

h4{
    font-weight: 600;
    color:rgb(0, 55, 131)
}
img{
    box-shadow: 2px 2px 5px lightgray;
    border-radius:5px;
}